.bd-main .bd-content .bd-article-container {
  max-width: 1440px !important;
}

.main-title {
  font-size: 48px;
  line-height: 72px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 0;
  max-width: 1000px;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}

.description p {
  color: #ffffff;
  font-weight: 300;
  margin-top: 20px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  padding: 0px 20px;
}

.description-second p {
  color: #f29111;
  font-weight: 300;
  margin-top: 20px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  padding: 0px 20px;
}

html[data-theme=light] .description-second p {
  color: #00758f;
  font-weight: bolder;
}

.button-group {
  display: flex;
  justify-content: center;
  padding: 50px 0px 30px 0px;
}

.button-group a {
  font-family: Oracle Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #1A1A1D !important;
  border: 1px solid #1e1b19;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  text-transform: none;
  margin: 0px 24px 40px 0px;
  width: 180px;
  background: #b1e4f0;
  text-decoration: none;
}

.button-group a:hover {
  background: #f29111;
  border: 1px solid #ffffff
}

p.sub-title {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  margin-top: 50px;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

@media (max-width: 960px) {
  .benefits {
    flex-direction: column;
    align-items: center;
  }
}

.benefit-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  background-color: none;
}

html[data-theme=dark] .bd-content img:not(.only-dark,.dark-light) {
  background-color: transparent;
  border-radius: .25rem;
}

.benefit-card {
  border-radius: 16px !important;;
  border: 0.4px solid rgba(255, 255, 255, 0.80);
  background: rgba(255, 255, 255, 0.10) !important;;
  backdrop-filter: blur(4px) !important;;
  width: 30% !important;;
  padding: 16px 16px !important;;
  margin: 15px 10px !important;;
  display: block !important;
}

@media (max-width: 960px) {
  .benefit-card {
    width: 90% !important;
  }
}

html[data-theme="light"] .benefit-card {
  border: 0.4px solid #1e1b19;
}

html[data-theme="light"] .benefit-icon {
  background-color: #70664a;
  border-radius: 50%;
}

.benefit-card p {
  display: flex;
  flex-direction: column;
}

html[data-theme="light"] .sub-title {
  color: #1e1b19;
}

html[data-theme="light"] .description p {
  color: #1e1b19;
}

html[data-theme="light"] div.benefits-card {
  border: 1px solid #1e1b19;
}

div.benefit-card.wn-card {
  background-color: rgba(11, 11, 11, 0.4) !important;
  backdrop-filter: blur(4px) !important;
}

div.card-red {
  box-shadow: 0px 4px 4px 0px rgba(242, 128, 80, 0.45);
}

div.card-red:hover {
  box-shadow: 0px 0px 24px 0px rgba(242, 129, 80, 0.65);
}

div.card-yellow {
  box-shadow: 0px 4px 4px 0px rgba(255, 191, 0, 0.45);
}

div.card-yellow:hover {
  box-shadow: 0px 4px 24px 0px rgba(255, 191, 0, 0.65);
}

div.card-blue {
  box-shadow: 0px 4px 4px 0px rgba(171, 225, 222, 0.45);
}

div.card-blue:hover {
  box-shadow: 0px 4px 24px 0px rgba(171, 225, 222, 0.65);
}

div.benefits-card a img {
  width: 48px;
}

div.benefits-card p.admonition-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  margin: 16px 0px 8px 0px;
}

div.benefits-card p {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  margin: 16px 0px 8px 0px;
}

/* get started */
.gs-back {
  background-color: #1F1E1D;
  background-color: var(--pst-color-background);
  padding: 80px 0px 40px 0px;
}

.wn-back {
  background: url("../_images/map-background.svg") 0% 30%/1540px no-repeat, linear-gradient(180deg, #282623 47.44%, #998253 85.19%, #EFC55E 98.54%);;
  padding: 40px 0px 80px 0px;
}
.wn-back-back {
  background: linear-gradient(180deg, #1E1C1B 0%, #2B2725 36.62%);
}

.text-vis {
  margin-top: 20px;
}

.wn-card {
  border-radius: 16px;
  border: 0.4px solid rgba(255, 255, 255, 0.80);
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  width: 30%;
  padding: 16px 16px;
  margin: 15px 10px;
}

.wn-text {
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 4px;
}

.wn-text a {
  margin-bottom: 16px;
}

ul.wn-list {
  text-decoration: none;
  list-style: none;
}

h1, h2, h3, h4, h5 {
  color: white;
}

h1 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 0;
  max-width: 1000px;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  @media only screen
  and (min-width: 320px)
  and (max-width: 767px) {
    text-align: center;
    font-size: 40px;
    line-height: 64px;
    margin-bottom: 40px;
  }
}

html[data-theme="light"] h1 {
  color: #1e1b19;
}

p {
  color: white;
}

html[data-theme="light"] p {
  color: #1e1b19;
}

/* Reset the width of the article for the landing page */
div.bd-article-container  {
  width: 100% !important;;
  max-width: none !important;
}

p.rubric {
  display: flex;
  flex-direction: column;
  font-weight: 200;
  text-align: center;
  border: none;
}

.bd-main {
  padding: 0px;
}

.bd-main .bd-content .bd-article-container .bd-article {
  padding: 0px;
}

.bd-main .bd-content .bd-article-container {
  padding: 20px 0px 0px 0px;
}

.bd-page-width {
  width: 100%;
}

.bd-container__inner.bd-page-width {
  width: 100% !important;
}

@media (min-width: 960px) {
  .bd-page-width {
    max-width: 100% !important;
  }
}

.sphinx-tabs-panel {
  border: 0.4px solid #554d49;
  color: #ffffff;
}

.sphinx-tabs-tab[aria-selected="true"] {
  font-weight: 700;
  border: 0.4px solid #554d49;
  border-bottom: 1px solid #554d49;
  margin: -1px;
  background-color: #dbf0f5;
  color: #00758F;
}

.sphinx-tabs-tab {
  color: #ffffff;
}

.quickstart-container {
  padding: 0 40px !important;
}

.wnext-container {
  background: url("../_static/_images/map-background.svg") 0% 30%/1540px no-repeat, linear-gradient(180deg, #282623 47.44%, #998253 85.19%, #EFC55E 98.54%);
  padding: 20px 20px 80px 20px;
  margin-top: 60px;
  border: 0.4px solid #ffffff;
  border-radius: 24px;
  margin-bottom: 40px;
}

html[data-theme="light"] .wnext-container {
  background: url("../_static/_images/map-background.svg") 0% 30%/1540px no-repeat, #ffffff;
  border: 0.4px solid #222832;
}

html[data-theme="light"] .benefit-card.wn-card {
  background-color: #ffffff !important;
}

.wn-back-back {
  background: linear-gradient(180deg, #1E1C1B 0%, #2B2725 36.62%);
}

.benefit-card strong {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 500;
}

a.reference.external:hover {
  color: #f29111;
}

.benefit-card.wn-card ul {
  color: #ffffff;
}

.benefit-card.wn-card li {
  text-decoration: none;
}

.prev-next-area {
  display: none !important;
}

html[data-theme="light"] .bd-page-width {
  background: url("../_static/_images/map-background-light-10.svg") 0% 10%/auto repeat-x, #ffffff;
}

html[data-theme="dark"] .bd-page-width {
  background: url("../_static/_images/map-background-dark.svg") 0% 10%/auto repeat-x, linear-gradient(180deg, #1E1C1B 0%, #2B2725 36.62%);
}

@media (max-width: 960px) {
  .wnext-container {
    display: flex;
    flex-direction: column;
  }
}

.link-style a {
  color: var(--pst-color-link);
}

#custom-announcement {
  padding-right: 2rem;
}

#close-announcement {
  position: absolute;
  top: 0.2rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.wnext {
  display: flex;
  justify-content: center;
}

@media (max-width: 960px) {
  .wnext {
    display: block;
  }
}

.wnext-card {
  max-width: 380px;
  border-radius: 16px;
  width: 30%;
  padding: 16px 16px;
  margin: 15px 10px;
}

.wnext strong {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 36px;
}

.wnext p {
  margin-bottom: 10px;
  line-height: 28px;
}

@media (min-width: 1240px) {
  .wnext p {
    max-width: 89%;
  }
}

.wnext.benefit-icon img {
  margin-bottom: 20px;
}

.benefit-card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  height: 100%;
}

.wn-card-content {
  font-size: 1em;
  font-weight: 200;
  line-height: 24px;
  color: #ffffff;
  border: 0.4px solid rgba(255, 255, 255, 0.80);
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  padding: 16px !important;
  margin: 15px 10px !important;
  max-width: 440px !important;
}

@media (max-width: 960px) {
  .wn-card-content {
    max-width: 100% !important;
  }
}

html[data-theme="light"] .wn-card-content {
  border: 0.4px solid #1e1b19;
  background: #fff;
  color: #1e1b19;
}
