# For docs
sphinx==6.1
sphinx-substitution-extensions==2022.2.16
sphinx-tabs==3.4.5
sphinx-copybutton==0.5.2
pydata-sphinx-theme==0.16.1
# These are added as newer versions require sphinx>5.0, and pip doesn't resolve to older versions correctly
sphinxcontrib-applehelp<1.0.8
sphinxcontrib-devhelp<1.0.6
sphinxcontrib-htmlhelp<2.0.5
sphinxcontrib.serializinghtml<1.1.10
sphinxcontrib.qthelp<1.0.7
sphinx_toolbox<=3.8.0
sphinx_design==0.6.1

# To detect available memory when running tests and skip if not enough
psutil

# install package
-c constraints/constraints_dev.txt
-e .[oci,datastore,a2a]

# For mypy type-checking stubs
pandas-stubs
types-requests
types-PyYAML
types-Deprecated
types-python-dateutil

# Additional packages for tests
cryptography
starlette>=0.47.2
uvicorn>=0.23.1

# This is used to load database connection arguments in the unit tests
python-dotenv
